[Unit]
Description=Start initscript upon first boot

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/sbin/initscript.sh'

[Install]
WantedBy=multi-user.target